body {
    margin: 0;
}

section.top {
    margin: 0;
    justify-content: center;
    background-image: url('/images/wallpaper.png');
    background-position: center;
    background-blend-mode: screen;
    padding-bottom: 55vh;
    background-repeat: stretch;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

section.bottom {
    margin: 0;
    justify-content: center;
    background-image: url('/images/water1.png');
    background-position: center;
    background-blend-mode: screen;
    padding-bottom: 45vh;
    background-repeat: stretch;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/** RESPONSIVE CSS **/
/** IPAD **/
@media (max-width: 992px) {
    
}

/** PHONE **/
@media (max-width: 768px) {}