body {
    margin: 0;
}

div.top {
    margin: 0;
    justify-content: center;
    background-image: url('/images/wallpaper.png');
    background-position: center;
    background-blend-mode: screen;
    padding-bottom: 50vh;
    background-repeat: stretch;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

div.bottom {
    margin: 0;
    justify-content: center;
    background-image: url('/images/water2.png');
    background-position: center;
    background-blend-mode: screen;
    padding-bottom: 50vh;
    background-repeat: stretch;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/** RESPONSIVE CSS **/
/** IPAD **/
@media (max-width: 992px) {
    
}

/** PHONE **/
@media (max-width: 768px) {}