body {
    margin: 0;
    overflow: hidden;
}

.background {
    display: flex;
}

div.top {
    margin: 0;
    justify-content: center;
    background-image: url('/images/wallpaper.png');
    background-position: left center;
    background-blend-mode: screen;
    background-repeat: stretch;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding-bottom: 55vh;
}

div.bottom {
    margin: 0;
    justify-content: center;
    background-image: url('/images/water2.png');
    background-position: center;
    background-blend-mode: screen;
    background-repeat: stretch;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding-bottom: 25vh;
}

/** RESPONSIVE CSS **/
/** IPAD **/
@media (max-width: 992px) {}

/** PHONE **/
@media (max-width: 768px) {}